<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>FuriaKYN</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="main-container">
        <div class="header">
            <h1>Know Your Fan</h1>
        </div>
        <form method="POST" enctype="multipart/form-data">
            <input type="text" name="nome" placeholder="Nome completo" required><br><br>
            <input type="email" name="email" placeholder="Email" required><br><br>
            <input type="text" name="endereco" placeholder="Endereço" required><br><br>
            <input type="text" name="cpf" placeholder="CPF" required><br><br>

            <label>Interesses:</label><br>
            <div class="checkbox-group">
                <label class="checkbox-label">
                    <input type="checkbox" name="interesse" value="eventos"> Eventos
                </label>
                <label class="checkbox-label">
                    <input type="checkbox" name="interesse" value="atividades"> Atividades
                </label>
                <label class="checkbox-label">
                    <input type="checkbox" name="interesse" value="campeonatos"> Campeonatos
                </label>
            </div>

            <label for="atividades">Atividades realizadas nos últimos 12 meses:</label>
            <textarea id="atividades" name="atividades" rows="4"
                placeholder="Descreva aqui as atividades relacionadas à FURIA, e-sports ou comunidade."></textarea>

            <label for="eventos">Eventos frequentados no último ano:</label>
            <textarea id="eventos" name="eventos" rows="4"
                placeholder="Liste os eventos que você participou relacionados à e-sports."></textarea>

            <label for="compras">Compras relacionadas à FURIA/e-sports no último ano:</label>
            <textarea id="compras" name="compras" rows="4"
                placeholder="Ex: camisas, ingressos, periféricos, etc."></textarea>

                <label>Documento (Imagem):</label>
                <input type="file" name="documento" accept=".jpg,.jpeg,.png,.webp" required>

            <div class="input-area">
                <button type="submit">Enviar</button>
            </div>
        </form>
    </div>
</body>

</html>
